<li class="listItem" [class.completed]="todo.completed" [ngClass]="{'editing': todo.editing}">
  <label *ngIf="!todo.editing">
    <!-- Toggle completion checkbox -->
    <input type="checkbox" [(ngModel)]="todo.completed" (change)="toggleTodoCompletion.emit(todo)" title="Mark as completed" />
  </label>
  <section class="todo-text">
    <!-- Display todo text -->
    <p *ngIf="!todo.editing" class="todo-text">{{ todo.text }}</p>
  </section>
  <!-- Input for editing todo text -->
  <input #editInput *ngIf="todo.editing" [(ngModel)]="todo.text" (blur)="exitEdit.emit(todo)" (keyup.enter)="exitEdit.emit(todo)" (keyup.esc)="cancelEdit.emit(todo)" title="Edit todo text" placeholder="Edit todo text" />
  <section class="todo-details" *ngIf="!todo.editing">
    <!-- Display todo creation and update dates -->
    <p class="todo-date">Created: {{ todo.createdAt | date:'short' }}</p>
    <p class="todo-date">Updated: {{ todo.updatedAt | date:'short' }}</p>
    <p class="todo-date" *ngIf="todo.completed">Completed: {{ todo.completed ? (todo.updatedAt | date:'short') : 'Not completed' }}</p>
  </section>
  <section class="todo-actions">
    <!-- Call updateTodoText if originalText is not equal to todo.text, otherwise call cancelEdit -->
    <button *ngIf="!todo.completed" id="editButton-{{todo.id}}" class="editButton" type="button" (click)="todo.editing ? updateTodoText.emit(todo) : editTodoText.emit({todo, editInput})" (mousedown)="preventBlur.emit($event)" [ngStyle]="{'background-color': todo.editing ? 'rgba(0, 180, 255, 1.0)' : '', 'width': todo.editing ? '100px' : ''}">
      {{ todo.editing ? 'Update' : 'Edit' }}
    </button>
    <!-- Delete button -->
    <button class="removeButton" type="button" (click)="removeTodo.emit(todo)" *ngIf="!todo.editing">Remove</button>
  </section>
</li>
