<!-- Toolbar -->
<header class="toolbar" role="banner">
  <img
    width="50"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>Todo List</span>
</header>

<body class="content" role="main">
  <div class="main-container">
    <form (submit)="addTodo()" #todoForm="ngForm">
      <input type="text" [(ngModel)]="newTodo" placeholder="Add a new todo" name="todo" required #todoInput="ngModel" />
      <button class="addButton" type="submit" [disabled]="todoForm.invalid">Add</button>
    </form>
    <ul class="todo-list scrollable">
      <li class="listItem" *ngFor="let todo of todos" [class.completed]="todo.completed" [ngClass]="{'editing': todo.editing}">
        <label *ngIf="!todo.editing">
          <input type="checkbox" [(ngModel)]="todo.completed" (change)="toggleTodoCompletion(todo)" title="Mark as completed" />
        </label>
        <section class="todo-text">
          <p *ngIf="!todo.editing" class="todo-text">{{ todo.text }}</p>
        </section>
        <input #editInput *ngIf="todo.editing" [(ngModel)]="todo.text" (blur)="updateTodoText(todo)" (keyup.enter)="updateTodoText(todo)" (keyup.esc)="exitEdit(todo)" title="Edit todo text" placeholder="Edit todo text" />
        <section class="todo-details" *ngIf="!todo.editing">        
          <p class="todo-date">Created: {{ todo.createdAt | date:'short' }}</p>
          <p class="todo-date">Updated: {{ todo.updatedAt | date:'short' }}</p>
        </section>
        <section class="todo-actions">
            <button id="editButton-{{todo.id}}" class="editButton" type="button" (click)="editTodoText(todo, editInput)" [ngStyle]="{'background-color': todo.editing ? 'rgba(0, 180, 255, 1.0)' : '', 'width': todo.editing ? '100px' : ''}">
            {{ todo.editing ? 'Update' : 'Edit' }}
            </button>
          <button class="removeButton" type="button" (click)="removeTodo(todo)" *ngIf="!todo.editing">Remove</button>
        </section>
      </li>
    </ul>
  </div>
</body>

<footer class="toolbar footer">
  <span class="spacer">Daniel Martin &copy; {{ currentYear }}</span>
</footer>

<router-outlet></router-outlet>

<!-- Removed script tag as it should be in the TypeScript file -->